<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add a post </title>
</head>
<body>
    <form method="POST" action="/add_tweet">
        <label>THE titel</label>
                <div class="input-group">
                 <input type="text"  name="title" minlength="4" required>
                </div>
        <label>THE content</label>
            <div class="input-group">
                <input type="type"  name="text" minlength="1" maxlength="280" required>

            </div>   
        <input type="submit" value="add tweet"> </form>     

    </form>  
<a href="/all_tweets"><button>see all tweets</button> 
 


</body>
</html>