<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta charset="UTF-8">
    <title>Signin</title>
    <style>
body {
  background-image: url('https://img.lovepik.com/background/20211021/large/lovepik-silhouette-particles-of-creative-football-match-background-image_400182238.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<body>
    <center>
    <form method="post" action="/">
        <!-- Heading -->
        <h4>
        Login to your account
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your information below to signin.
        </p>

        <!-- Email -->
        <div>
            <label>Email:</label>
            <div>
                <input id="jaja" type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password:</label>
            <div class="input-group">
                <input id="jaja" type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input id = "jaja" type="submit"/>
        </div>
    </form>
    <br>
    <a href="/signup"><button>signup</button></a>
    </center>
</body>
</html>